:root {
  --heading-font: 
  --body-font: 
} 

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px;

  padding: 2rem 6rem;
}

.split {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hero {
  text-align: center;
}

.hero h1 {
  margin-bottom: 0.5em;
  color: white;
}

.hero p {
  margin-bottom: 3em
  color: white;
}

.hero-right img {
  margin-top: 3em;
}


.hero-left {
  width: 40%;
}

.hero-right {
  width: 40%;
}

@media (min-width: 800px) {
  .hero__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }