:root {
    --heading-font: 
    --body-font: 
  }

  .nav__container {
    padding: 2rem 6rem;
    width: 90%;
    max-width: 80em;
    margin: auto;

  }

  .buybuddy__navbar {
    display: flex;
    justify-content: space-between;
}

.buybuddy__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buybuddy__navbar-links_logo {
    margin-right: 2rem;
    justify-content: flex-start;
    color: #fff;
    font-size: 18px;
    font-weight: 100px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.buybuddy__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
    color: #fff;
}

.buybuddy__navbar-links_container {
    display: flex;
    flex-direction: row;
    align-self:baseline; 
    align-items: center;
    justify-content: center;
}

.buybuddy__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buybuddy__navbar-links_container p,
.buybuddy__navbar-sign p,
.buybuddy__navbar-menu_container p {
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin: 0 1rem;
    cursor: pointer;
}

.buybuddy__navbar-sign button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    border: solid;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.buybuddy__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    border: solid;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.buybuddy__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.buybuddy__navbar-menu svg {
    cursor: pointer;
}

.buybuddy__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.buybuddy__navbar-menu_container p {
    margin: 1rem 0;
}

.buybuddy__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .buybuddy__navbar-links_container {
        display: none;
    }

    .buybuddy__navbar-menu {
        display: flex;
    }

    .buybuddy__navbar-sign {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .buybuddy__navbar {
        padding: 2rem 4rem;
    }

    .buybuddy__navbar-sign button {
        display: none;
    }

    .buybuddy__navbar-menu_container button {
        display: none;
    }

    .buybuddy__navbar-menu {
        display: flex;
    }

    .buybuddy__navbar-sign {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .buybuddy__navbar {
        padding: 2rem;
    }

    .buybuddy__navbar-sign button {
        display: none;
    }

    .buybuddy__navbar-menu_container {
        top: 20px;
    }

    .buybuddy__navbar-menu_container-links-sign {
        display: block;
    }

    .buybuddy__navbar-sign button {
        display: none;
    }

    .buybuddy__navbar-menu_container button {
        display: none;
    }

    .buybuddy__navbar-sign {
        display: none;
    }


}