.footer__container {
    padding: 2rem 6rem;
    width: 100%;
    max-width: 80em;
    margin: auto;
}

.footer__section {
    display: flex;
    justify-content: space-between;
    background-color: none;
    opacity: 80%;
    max-width: 70em;
    width: 100%;
    margin: 0 auto;
    border: solid;
    border-color: #fa9fc5;
    border-radius: 10px;
    padding: 30px;
}

.footer__title {
        margin-right: 2rem;
        justify-content: flex-start;
        color: #fff;
        font-size: 11px;
        font-weight: 100px;
        font-family: 'Outfit', sans-serif;
        font-weight: bold;
}

.footer__links {
    padding-top: 10px;
    color: #fff;
    font-size: 11px;
    font-weight: 100px;
    font-family: 'Outfit', sans-serif;
}

.footer-li {
    padding: 1px;
    list-style: none;
}